asgiref
django-cors-headers
dj-database-url
dj-static
Django
django-filter
djangorestframework
gunicorn
importlib-metadata
Markdown
psycopg2-binary
pytz
Pyrebase4
sqlparse
static3
tzdata
zipp
git+https://github.com/erelsgl/fairpy.git@8beb3992f1f9269eee90c6c8a69e7ca0bbe83fd0






